
<p>
  <span class="header-board_name">Name</span>
  <span class="header-category">Category</span>
  <span class="header-admin">Admin</span>
  <span class="header-actions"></span>
</p>
<hr>
<? it.boards.forEach( function( board ) { ?>
<p>
  <span class="name"><?- it.exist( board.name ) ?></span>
  <span class="category"><?- board.category ? board.category.name : 'Uncategorized' ?></span>
  <span class="admin"><?- board.admin ? it.exist( board.admin.first_name ) : '' ?></span>
  <span class="actions">
    <a href="/boards/<?- board._id ?>/edit" class="link-edit-board">Edit</a>
  </span>
  <hr>
</p>
<? }); ?>

<? if( !it.boards.length ){ ?>
<div>
  <span>There're no board!</span>
  <a href="/boards/new" id="hint-new-board" title="Create a new board">Create one!</a>
</div>
<? } ?>

<a href="/boards/new" id="new-board" title="Create a new board">New board</a>
