<? var form_placeholder = it.locale_boards.form_placeholder; ?>

<form id="login-form" action="/board/create" method="POST" accept-charset="UTF-8" >
  <input type="hidden" name="_csrf" value="<?= it.csrf ?>"/>
  <p id="name-title">Board name</p>
  <input type="text" id="name" placeholder="<?- form_placeholder.name ?>" name="name" value="<?= it.exist( it.name ) ?>">
  <?= it.show_form_err( 'name' ) ?>
  <p id="category-title">Category</p>
  <select id="category" name="category">
    <option value=""><?= it.locale_boards.select_one ?></option>
    <? it.categories.forEach( function( category ){ ?>
      <option value="<?- category._id ?>"><?- category.name ?></option>
    <? }); ?>
  </select>
  <?= it.show_form_err( 'category' ) ?>
  <p id="category-title">Admin</p>
  <input type="text" id="admin" placeholder="<?- form_placeholder.admin ?>" name="admin">
  <?= it.show_form_err( 'admin' ) ?>

  <p></p>
  <input type="submit" value="<?- it.locale_boards.submit_btn ?>">
</form>
