<? it.title = 'Welcome to the forum'; ?>
<? it.nav_selected = 'home'; ?>

<? it.categories.forEach( function( category ){ ?>
<h2>
  <?- category.name ?>
</h2>
<? category.boards && category.boards.forEach( function( board ){ ?>
<p>
  <a href="/boards/<?- board._id ?>" title="<?- board.name ?>"><?- board.name ?> (<?- board.posts_count ?>)</a> <?- board.admin ? 'admin: ' + board.admin.first_name : ' /no admin/' ?>
</p>
<? }); ?>
<? }); ?>
<br/>
<br/>
<? if( it.loggedin ){ ?>
<a href="/change-password" title="Chang password">Change password</a>
|
<a href="/update-profile" title="Update your profile">Update profile</a>
|
<a href="/logout" title="Logout">Logout</a>
<? } ?>

