<? var form_placeholder = it.locale.form_placeholder; ?>

<form id="update-post-form" action="/post/<?= it.post_id ?>/update" method="POST" accept-charset="UTF-8" >
  <input type="hidden" name="_csrf" value="<?= it.csrf ?>"/>
  <p id="post-title">Post title</p>
  <input type="text" id="title" placeholder="<?- form_placeholder.title ?>" name="title" value="<?= it.exist( it.post_title ) ?>">
  <?= it.show_form_err( 'title' ) ?>
  <p id="post-title">Body</p>
  <textarea id="body" placeholder="<?- form_placeholder.body ?>" name="body"><?= it.exist( it.body ) ?></textarea>
  <?= it.show_form_err( 'body' ) ?>

  <p></p>
  <input type="submit" value="<?- it.locale.submit_btn ?>">
</form>
