
<? var form_placeholder = it.locale.form_placeholder; ?>

<form id="edit-form" action="/users/<?= it.user_id ?>" method="POST" accept-charset="UTF-8" >
  <input type="hidden" name="_csrf" value="<?= it.csrf ?>"/>
  <input type="hidden" name="_method" value="put"/>
  <p id="email-title">Email</p>
  <input type="text" id="email" placeholder="<?- form_placeholder.email ?>" name="email" value="<?= it.exist( it.email ) ?>"/>
  <?= it.show_form_err( 'email' ) ?>
  <p id="first-name-title">First Name</p>
  <input type="text" id="first-name" placeholder="<?- form_placeholder.first_name ?>" name="first_name" value="<?= it.exist( it.first_name ) ?>"/>
  <?= it.show_form_err( 'first_name' ) ?>
  <p id="last-name-title">Last Name</p>
  <input type="text" id="last-name" placeholder="<?- form_placeholder.last_name ?>" name="last_name" value="<?= it.exist( it.last_name ) ?>"/>
  <?= it.show_form_err( 'last_name' ) ?>
  <p id="is_locked_title">
    <input type="checkbox" id="is_locked" name="is_locked" <?= it.exist( it.is_locked ) ? 'checked' : '' ?>>
    Locked
  </p>
  <?= it.show_form_err( 'is_locked' ) ?>

  <p></p>
  <input type="submit" value="<?- it.locale.submit_btn ?>"/>
</form>
